<%- include("../partials/_header") %> 
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="/admin/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <%- include("../partials/_navbar") %> 
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include("../partials/_sidebar") %> 
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Role List - <%= URL %>  </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="card card-info">
                <div class="card-header bg-teal">
                  <h3 class="card-title">Create Role Form</h3>
                </div>
                <div class="card-body">
                  <form action="/admin/settings/update-role?_method=PUT" method="POST">
                    <input id="role_id" type="hidden" class="form-control" name="id" value="">
                  
                  <div class="col-12 justify-content-center align-items-center">
                    <div class="input-group mb-3 ">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                      </div>
                      <input id="name" type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    
                    
                  </div>
                  <div class="col-12 justify-content-center align-items-center">
                    <div class="card card-danger">
                      <div class="card-header">
                      <h3 class="card-title">User Permissions</h3>
                      </div>
                      <div class="card-body">
                      <div class="row">
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" name="create_user" value="1" class="custom-control-input" id="create-user">
                          <label class="custom-control-label" for="create-user">Create User</label>
                          </div>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" name="read_user" value="1" class="custom-control-input" id="read-user">
                          <label class="custom-control-label" for="read-user">Read User</label>
                          </div>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" name="update_user" value="1" class="custom-control-input" id="update-user">
                          <label class="custom-control-label" for="update-user">Update User</label>
                          </div>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" name="delete_user" value="1" class="custom-control-input" id="delete-user">
                          <label class="custom-control-label" for="delete-user">Delete User</label>
                          </div>
                          </div>
                      </div>
                      <small>If the User is not given read permission, the user cannot update or delete.</small>
                      </div>
                      </div>
                      
                      </div>
                    
                    
                  </div>
                  <div class="col-12 justify-content-center align-items-center">
                    <div class="card card-danger">
                      <div class="card-header">
                      <h3 class="card-title">Role Permissions</h3>
                      </div>
                      <div class="card-body">
                      <div class="row">
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" name="create_role" value="1" class="custom-control-input" id="create-role">
                          <label class="custom-control-label" for="create-role">Create Role</label>
                          </div>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" name="read_role" value="1" class="custom-control-input" id="read-role">
                          <label class="custom-control-label" for="read-role">Read Role</label>
                          </div>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" name="update_role" value="1" class="custom-control-input" id="update-role">
                          <label class="custom-control-label" for="update-role">Update Role</label>
                          </div>
                          </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                          <input type="checkbox" name="delete_role" value="1" class="custom-control-input" id="delete-role">
                          <label class="custom-control-label" for="delete-role">Delete Role</label>
                          </div>
                          </div>
                      </div>
                      <small>If the User is not given read permission, the user cannot update or delete.</small>
                      </div>
                      </div>
                      
                      </div>
                    
                    
                  </div>
                  <div class="col-12 d-flex justify-content-end align-items-center">
                    <button class="btn btn-outline-success" type="submit">Update Role</button>
                 </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                <table class="table table-striped">
                <thead>
                <tr>
                <th style="width: 10px">#</th>
                <th>Name</th>
                <th>User Permission</th>
                <th>Role Permission</th>
                

                <th>Actions</th>

                </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < roles.length; i++) {%> 
                <tr id="<%= roles[i]._id %> ">
                <td> <%=  i + 1 %> </td>
                <td> <%= roles[i].name %> </td>
                
                <td>
                    <span class="d-block mb-2 badge <%= roles[i].read_user == 1 ? 'bg-success' : 'bg-danger' %>"><i class="fas <%= roles[i].read_user == 1 ? 'fa-check-circle' : 'fa-ban' %> mr-1"></i>Read User</span>
                    <span class="d-block mb-2 badge <%= roles[i].create_user == 1 ? 'bg-success' : 'bg-danger' %>"><i class="fas <%= roles[i].create_user == 1 ? 'fa-check-circle' : 'fa-ban' %> mr-1"></i>Create User</span>
                    <span class="d-block mb-2 badge <%= roles[i].update_user == 1 ? 'bg-success' : 'bg-danger' %>"><i class="fas <%= roles[i].update_user == 1 ? 'fa-check-circle' : 'fa-ban' %> mr-1"></i>Update User</span>
                    <span class="d-block mb-2 badge <%= roles[i].delete_user == 1 ? 'bg-success' : 'bg-danger' %>"><i class="fas <%= roles[i].delete_user == 1 ? 'fa-check-circle' : 'fa-ban' %> mr-1"></i>Delete User</span>
                </td>
                <td>
                  <span class="d-block mb-2 badge <%= roles[i].read_role == 1 ? 'bg-success' : 'bg-danger' %>"><i class="fas <%= roles[i].read_role == 1 ? 'fa-check-circle' : 'fa-ban' %> mr-1"></i>Read Role</span>
                  <span class="d-block mb-2 badge <%= roles[i].create_role == 1 ? 'bg-success' : 'bg-danger' %>"><i class="fas <%= roles[i].create_role == 1 ? 'fa-check-circle' : 'fa-ban' %> mr-1"></i>Create Role</span>
                  <span class="d-block mb-2 badge <%= roles[i].update_role == 1 ? 'bg-success' : 'bg-danger' %>"><i class="fas <%= roles[i].update_role == 1 ? 'fa-check-circle' : 'fa-ban' %> mr-1"></i>Update Role</span>
                  <span class="d-block mb-2 badge <%= roles[i].delete_role == 1 ? 'bg-success' : 'bg-danger' %>"><i class="fas <%= roles[i].delete_role == 1 ? 'fa-check-circle' : 'fa-ban' %> mr-1"></i>Delete Role</span>
              </td>
               
                <td>
                  <div class="d-flex justify-content-end align-items-center">
                    <button type="button" id="editRole" data-id="<%= roles[i]._id %>" class="btn btn-sm btn-warning mr-2" data-toggle="modal" data-target="#modal-lg">
                        Edit
                    </button>
                  <a href="/admin/settings/delete-role/<%=roles[i]._id%>?_method=DELETE " onclick="return confirm('Are you sure you want to delete? [INFO :] If you delete the User role, you will also disable the users connected to it in the system. If you delete the role your user is connected to, your account will be disabled and you will be logged out!')" class="btn btn-sm btn-danger mr-2">Delete</a>
                </div>
                </td>

                </tr>
                <% } %> 
                </tbody>
                </table>
                </div>
                
                <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
                </div>
                </div>
              
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include("../partials/_footer") %> 
  <script>
    let name = document.querySelector("#name")
    let readUser = document.querySelector("#read-user");
    let createUser = document.querySelector("#create-user");
    let updateUser = document.querySelector("#update-user");
    let deleteUser = document.querySelector("#delete-user");
    let editButton = document.querySelectorAll("#editRole")

    editButton.forEach(btn => {
      btn.addEventListener('click', (event) => {
        let id = event.target.getAttribute('data-id')
        const url = `<%=URL%>/admin/settings/roles/${id}`
        console.log(url);
        fetch(url, {
          method : "GET" , 
        }).then(response => response.json()).then(body => {
          let role_id = document.querySelector("#role_id");
          let name = document.querySelector("#name")
          let readUser = document.querySelector("#read-user");
          let createUser = document.querySelector("#create-user");
          let updateUser = document.querySelector("#update-user");
          let deleteUser = document.querySelector("#delete-user");
          let readRole = document.querySelector("#read-role");
          let createRole = document.querySelector("#create-role");
          let updateRole = document.querySelector("#update-role");
          let deleteRole = document.querySelector("#delete-role");

          role_id.value = id
          name.value = body.role.name;
          readUser.checked = body.role.read_user
          createUser.checked = body.role.create_user
          updateUser.checked = body.role.update_user
          deleteUser.checked = body.role.delete_user
          readRole.checked = body.role.read_role
          createRole.checked = body.role.create_role
          updateRole.checked = body.role.update_role
          deleteRole.checked = body.role.delete_role

        })

        // let xhttp = new XMLHttpRequest();
        // xhttp.onreadystatechange = function() {
        //   console.log(this.response);
        // }
        // xhttp.open("POST", `http://127.0.0.1:6565/admin/settings/roles/${id}`,true)
        // xhttp.send();
        

      })
    })

    readUser.addEventListener('change', function (){
      if(!this.checked){
        updateUser.checked = false;
        deleteUser.checked = false;
      }
    } )

    updateUser.addEventListener('change', function (){
      if (this.checked){
        readUser.checked = true;
      }
    })

    deleteUser.addEventListener('change', function (){
      if (this.checked){
        readUser.checked = true;
      }
    })


    function getRoles(role){
      const xhttp = new XMLHttpRequest();
      console.log(role);
    }

  </script>
</body>
</html>
